/* 헤더-메뉴 링크 모양 */
  .header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header-menu li {
    margin-right: 20px;
  }
  
  .header-menu li:last-child {
    margin-right: 0;
  }
  
  .header-menu .menu-item {
    text-decoration: none;
    color: #000;
    border-bottom: none;
  }
  
  .logo{
    width: 130px;
    height: 90px;
    margin-bottom: 10px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
  }
  
  .header-content {
    display: flex;
    align-items: flex-start;
  }
  
  .header h1 {
    font-size: 30px;
    margin: 0;
  }
  
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
  }
  
  .header-menu li {
    margin-right: 20px;
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
  }
  
  .signin-btn {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #868893;
    color: #fff;
    cursor: pointer;
  }
  
  .signup-btn {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #868893;
    cursor: pointer;
  }
  
  /* 종 모양 알림 아이콘 */
  .notification-wrapper {
    position: relative;
  }
  
  .notification-icon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #868893;
    background-color: transparent;
    font-size: 30px;
  }
  
  .notification-count {
    position: absolute;
    top: -7px;
    right: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 7px;
  }
  