.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 왼쪽 로그인 박스 */
.left-container {
  display: flex;
  flex-wrap: wrap; /* 영역이 넘쳤을 경우 다음줄로 넘어가도록 설정 */
  justify-content: space-between;
  align-items: center; /* 각 컨텐츠의 높이를 동일하게 맞추기 위해 */
  padding: 20px;
}

.login-box {
  min-height: 220px;
  width: 230px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: -10px; 
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.profile-circle {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #868893;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: -90px;
}

.name-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.department-grade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.department-grade{
  font-size: 7px;
  color: #868893;
  font-weight: bold;
  margin-top: 5px;
  margin-left: -130px;
}

.department-text{
  font-size: 7px;
  color: #868893;
  margin-left: 10px;
}

span {
  font-size: 16px;
  color: black;
}

.content-divider2 {
  width: 180px;
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: -30px;
}

.login-button {
  margin-top: 0rem;
}

.login-button button {
  width: 180px ;
  margin-bottom: 20px;
  background-color: #868893;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.login-button button:hover {
  background-color: #ccc;
}

/* MyPage 내 정보 수정 버튼 */
.MP-button {
  margin-top: 0rem;
}

.MP-button button {
  width: 180px ;
  margin-bottom: 20px;
  background-color: #868893;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.MP-button button:hover {
  background-color: #ccc;
}

/* 지원 현황 박스 */

/* .application-box {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-left: -10px; 
}

.application-box h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.application-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.application-box li {
  margin-bottom: 5px;
  text-align: center;
}

.application-box li:last-child {
  margin-bottom: 0;
}

.application-box a {
  text-decoration: none;
  color: #333;
}

.application-box a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
} */


/* 오른쪽 컨테이너 */
.right-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  margin-left: 0%;
  padding: 20px;
}

.home form {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 20px; /* 검색바와 컨텐츠 사이 간격 */
}

.home form input[type="text"] {
  flex-grow: 1;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
}

.home form button[type="submit"]  {
  background-color: #868893;
  display: flex;
  color: #fff;
  border: none;
  padding: 4px 20px;
  font-size: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.home form button:hover {
  background-color: #ccc;
}
  
  .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 20px;
    padding: 10px;
  
  }
  
  .contents h2 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  /* 각 컨텐츠의 스타일링 */
  .content123
   {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
  }  

  .content123 ul
  {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .content123 h3 {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  ul {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
  }

  li{
    display: inline;
  }
  
  .content-divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .more-link {
    font-size: 0.8rem; 
    margin-left: auto; 
    display: block; 
    width: fit-content; 
    margin-bottom: -10px;
  }

  p {
    margin-top: 40px;
    font-size: 7px;
    color: #868893;
  }

  