.signIn {
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
  }

  .signIn form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .form h2{
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .signIn li {
    display: block;
    margin-bottom: 20px;
  }

  .signIn li input{
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
  }

  .signIn button {
    display: block;
    width: 300px;
    padding: 10px;
    background-color: #7f8690;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #d0d5dd;
  }
  