.signUp{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.signUp h2{
margin-bottom: 30px;
}

.signUp form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff;
}


.signUp li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 300px;
}

.signUp label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}


.signUp input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.signUp button {
  background-color: #7f8690;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.signUp button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  background-color: #a3a8ae;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 30px;

}

.signUp button:hover {
  background-color: #d0d5dd;
}

.signUp button1:hover {
  background-color: #d0d5dd;
}
  
  .signUp label {
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #333;
  }
  
  .signUp li:last-child {
    margin-bottom: 0;
  }
  
  input[type="submit"] {
    background-color: #f7e7ec;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #fff8fb;
  }
  
  input[type="email"],
  input[type="tel"],
  input[name="student_id"] {
    border: 2px solid #93b3ca;
    border-radius: 5px;
  }
  
  input[name="nickname"],
  input[name="major"],
  input[name="password"],
  input[name="password-check"] {
    border: 1px solid #ccc;
  }
  
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[name="student_id"]:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #e91e6377;
  }
  
  