.signUp{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.signUp li {
  display: inline;
  margin-bottom: 20px;
  margin-top: 20px;
}

.signUp input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.signUp button {
  display: block;
  width: 300px;
  padding: 10px;
  background-color: #7f8690;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signUp button:hover {
  background-color: #d0d5dd;
}


.signUp form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff;
  }
  
  .signUp label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
 
  
  input[type="submit"] {
    background-color: #f7e7ec;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #fff8fb;
  }
  
  input[type="email"],
  input[type="tel"],
  input[name="student_id"] {
    border: 2px solid #93b3ca;
    border-radius: 5px;
  }
  
  input[name="nickname"],
  input[name="major"],
  input[name="password"],
  input[name="password-check"] {
    border: 1px solid #ccc;
  }
  
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[name="student_id"]:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #e91e6377;
  }
  