<div style="background-color: #f2f2f2; padding: 20px;">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <h1 style="font-family: 'Arial', sans-serif; font-size: 36px; color: #333;">농구 동아리 소개</h1>

  </div>
  <hr style="border: none; border-top: 2px solid #ddd; margin: 20px 0;">
  <p style="font-family: 'Arial', sans-serif; font-size: 16px; line-height: 1.5; color: #666;">
    <strong style="color: #333;">[Hackerz] 해커즈 농구 동아리</strong><br>
    재미있게 농구하는 동아리
  </p>
  <a href="https://forms.gle/HoccKk7FvZuzoiNY9"
     style="display: inline-block; margin-top: 20px; padding: 5px 10px; background-color: #333; color: #fff; text-decoration: none; font-family: 'Arial', sans-serif; font-size: 16px;"
     id="apply-button"
  >
    신청하기
  </a>
  <div id="click-counter" style="margin-top: 10px;"></div>
</div>

<script>
    let clickCount = 0;
    const applyButton = document.getElementById("apply-button");
    const clickCounter = document.getElementById("click-counter");

    applyButton.addEventListener("click", () => {
        clickCount++;
        clickCounter.textContent = `현재까지 ${clickCount} 명이 신청하러 갔습니다!.`;
    });
</script>
