.lab {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 오른쪽 컨테이너 */
.right-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  margin-left: 0%;
  padding: 20px;
}

.lab form {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 20px; /* 검색바와 컨텐츠 사이 간격 */
}

.lab form input[type="text"] {
  flex-grow: 1;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
}

.lab form button[type="submit"]  {
  background-color: #868893;
  display: flex;
  color: #fff;
  border: none;
  padding: 4px 20px;
  font-size: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.lab form button:hover {
  background-color: #ccc;
}
  
  .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 20px;
    padding: 10px;
  
  }
  
  .contents h2 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  /* 각 컨텐츠의 스타일링 */
  .content123
   {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
  }  

  
  .content123 ul
  {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .content123 h4 {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .content123 h2 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .content123 h8 {
    margin-top: 20px;
    margin-bottom: 50px;
  }


  ul {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
  }
  
  .content-divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .more-link {
    font-size: 0.8rem; 
    margin-left: auto; 
    display: block; 
    width: fit-content; 
    margin-bottom: -10px;
  }
  
  .top-content {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .top-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .lab-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
  }
  
